<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خانه مدرن | @ViewData["Title"]</title>
    <partial name="_HeaderReferences"/>
    @RenderSection("styles",false)
</head>

<body>

    <div class="page-wrapper">

    @await Component.InvokeAsync("SiteHeader")
    
        @RenderBody()
    
    @await Component.InvokeAsync("SiteFooter")

    </div>

<!-- For Javascript -->
<partial name="_FooterReferences"/>
<partial name="_SiteMessages" />
    @RenderSection("scripts",false)
    
</body>

</html>