@model EModernHouse.DataLayer.Entities.ProductOrder.Order
<a href="#">
    <i class="fal fa-shopping-basket"></i>
    <span class="bag-items-number">@Model.OrderDetails.Count</span>
</a>
<ul>
    <li class="cart-items">
        <ul class="do-nice-scroll" style="overflow: hidden; outline: currentcolor none medium;" tabindex="1">
            <li class="cart-item">
                <span class="d-flex align-items-center mb-2">
                    <a href="#">
                        <img src="./assets/images/cart/item-1.jpg" alt="">
                    </a>
                    <span>
                        <a href="#">
                            <span class="title-item">
                                گوشی موبایل شیائومی مدل Redmi 9 ظرفیت 32 گیگابایت
                            </span>
                        </a>
                        <span class="color d-flex align-items-center">
                            رنگ:
                            <span style="background-color: #8a2be2;"></span>
                        </span>
                    </span>
                </span>
                <span class="price">4,050,000 تومان</span>
                <button class="remove-item">
                    <i class="far fa-trash-alt"></i>
                </button>
            </li>
            <li class="cart-item">
                <span class="d-flex align-items-center mb-2">
                    <a href="#">
                        <img src="./assets/images/cart/item-2.jpg" alt="">
                    </a>
                    <span>
                        <a href="#">
                            <span class="title-item">
                                ساعت مچی هوشمند Haylou LS02
                            </span>
                        </a>
                        <span class="color d-flex align-items-center">
                            رنگ:
                            <span style="background-color: #000;"></span>
                        </span>
                    </span>
                </span>
                <span class="price">750,000 تومان</span>
                <button class="remove-item">
                    <i class="far fa-trash-alt"></i>
                </button>
            </li>
            <li class="cart-item">
                <span class="d-flex align-items-center mb-2">
                    <a href="#">
                        <img src="./assets/images/cart/item-3.jpg" alt="">
                    </a>
                    <span>
                        <a href="#">
                            <span class="title-item">
                                هدفون بلوتوثی کیو سی وای مدل T7
                            </span>
                        </a>
                        <span class="color d-flex align-items-center">
                            رنگ:
                            <span style="background-color: #fff;"></span>
                        </span>
                    </span>
                </span>
                <span class="price">635,000 تومان</span>
                <button class="remove-item">
                    <i class="far fa-trash-alt"></i>
                </button>
            </li>
        </ul>
    </li>
    <li class="cart-footer">
        <span class="d-block text-center mb-3">
            مبلغ کل:
            <span class="total">4,050,000 تومان</span>
        </span>
        <span class="d-block text-center px-2">
            <a href="#" class="btn-cart">
                مشاهده سبد خرید
                <i class="mi mi-ShoppingCart"></i>
            </a>
        </span>
    </li>
    <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 8px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: 0px; height: 250px; display: block; opacity: 0;"><div style="position: relative; top: 37px; float: right; width: 6px; height: 213px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;" class="nicescroll-cursors"></div></div>
    <div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 8px; z-index: 1000; top: 242px; left: 0px; position: absolute; cursor: default; display: none; width: 292px; opacity: 0;"><div style="position: absolute; top: 0px; height: 6px; width: 300px; background-color: rgb(66, 66, 66); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 8px;" class="nicescroll-cursors"></div></div>
</ul>