.CkeckboxInput_createUser {
    width: 18px;
    height: 25px;
    border: 1px solid #000;
    right: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
    margin-right: 90px !important;
    margin-top: 1px !important;
    opacity: 1 !important;
}
