@using EModernHouse.Application.Utils
@model EModernHouse.DataLayer.Entities.Account.User

<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
    <div class="sidebar-widget">
        
        <div class="profile-sidebar shadow-around">

            <div class="d-flex align-items-center">
                <div class="profile-avatar">
                    <img src="@(PathExtensions.UserAvatarThumb+Model.Avatar)" alt="avatar">
                </div>
                <div class="profile-info">
                    <div class="d-block">
                        <h6><strong>@Model.FirstName</strong></h6>
                    </div>
                    <div class="d-block">
                        <strong class="text-muted">@Model.Mobile</strong>
                    </div>
                </div>
            </div>
            <div class="user-options">
                <ul>
                    <li>
                        <a href="#">
                            <span>کیف پول</span>
                            <span>2,500,000 <span class="text-info font-weight-bold">تومان</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-menu">
                <ul>
                    <li>
                        <a asp-area="User" asp-controller="Account" asp-action="ChangePassword">
                            <i class="fad fa-key-skeleton"></i>
                            تغییر رمز عبور
                        </a>
                    </li>
                    <li>
                        <a asp-area="User" asp-controller="Account" asp-action="EditProfile">
                            <i class="far fa-user-cog"></i>
                            ویرایش حساب کاربری
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-comment-alt-lines"></i>
                            فعال سازی ایمیل
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Ticket" asp-action="AddTicket" asp-area="User">
                            <i class="far fa-comments"></i>
                            ثبت تیکت جدید
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Ticket" asp-action="Index" asp-area="User">
                            <i class="far fa-list-alt"></i>
                            لیست تیکت ها
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Order" asp-action="DetailOrder" asp-area="User">
                            <i class="far fa-tasks"></i>
                            لیست فاکتور ها
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="FavoriteProduct" asp-area="User">
                            <i class="far fa-heart"></i>
                            علاقه مندی ها
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="LogOut">
                            <i class="far fa-sign-in-alt"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 352px; height: 599px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
</div>

