@model EModernHouse.DataLayer.DTOs.Account.ForgotPasswordDTO
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}
@section scripts
{
    <partial name="_JqueryValidator" />
    <partial name="_CaptchaScripts" />
}
<main class="page-content">
    <div class="container">
        <div class="auth-wrapper">
            <div class="auth-form shadow-around">
                <div class="site-logo">
                    <a href="#">
                        <img src="./assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="auth-form-title">
                    @ViewData["Title"]
                </div>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <partial name="_CaptchaInput"/>
                    <div class="form-element-row">
                        <label for="phone-number" class="label-element">شماره موبایل</label>
                        <div class="form-element-with-icon">
                            <input type="text" class="input-element" id="phone-number" asp-for="Mobile">
                            <i class="fad fa-mobile-alt"></i>
                        </div>
                    </div>
                    <div class="form-element-row text-left">
                        <button class="btn-element btn-success-element">
                            <i class="fad fa-sync"></i>
                            تایید
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>