.Form_User {
    width: 100%;
    padding: 0 18%;
}

.input_Upload_file_Editprofile {
    width: 50%;
}
.ImagePreviwe_Editprofile {
    border-radius:50%;
    width: 150px;
}
#lable-Upload-Avatar{
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
}

#imageProduct {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.btn-upload {
    background: #E74C3C;
    color: #fff;
    padding: 6px 15px;
    border: 2px solid #AF0606;
    border-radius: 5px;
}
.ck-content {
    height: 300px;
}
.avatar>img {
    width: 100%;
}
.image_resized>img {
    max-width: 100%;
}