
@{
    ViewData["Title"] = "داشبورد";
}

<p>داشبورد</p>


<div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="widget">
            <div class="widget-header bg-palegreen">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">تعداد کاربران سایت</span>
                <div class="widget-buttons">

                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>

                </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            <div class="widget-body text-center">
                کاربران موجود در سایت : @ViewBag.userCount
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="widget">
            <div class="widget-header bg-carbon">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">تعداد کالاهای سایت</span>
                <div class="widget-buttons">

                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>

                </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            <div class="widget-body text-center">
                تعداد کالا های موجود در سایت : @ViewBag.productCount
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>

    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="widget">
            <div class="widget-header bg-carbon">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">تعداد کالاهای سایت</span>
                <div class="widget-buttons">

                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>

                </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            <div class="widget-body text-center">
                تعداد کالا های موجود در سایت : @ViewBag.productCount
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="widget">
            <div class="widget-header bg-carbon">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">تعداد کالاهای سایت</span>
                <div class="widget-buttons">

                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>

                </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            <div class="widget-body text-center">
                تعداد کالا های موجود در سایت : @ViewBag.productCount
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="widget widget-header border-bottom bordered-sky">
            <span class="widget-caption">
                کامنت های های جدید
            </span>
        </div>
        <div class="widget-body">
            
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            

            <hr/>
            <a class="btn btn-success btn-block" href="#">مشاهده تمام تیکت ها</a>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="widget widget-header border-bottom bordered-sky">
            <span class="widget-caption">
                تیکت های جدید
            </span>
        </div>
        <div class="widget-body">
            
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            

            <hr/>
            <a class="btn btn-success btn-block" href="#">مشاهده تمام تیکت ها</a>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="widget widget-header border-bottom bordered-azure">
            <span class="widget-caption">
               فاکتور های پرداخت شده جدید
            </span>
        </div>
        <div class="widget-body">
            
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            

            <hr />
            <a class="btn btn-danger btn-block" href="#">مشاهده تمام فاکتورها</a>
        </div>
    </div>
    
</div>