
@{
    ViewData["Title"] = "تیکت ها و کامنت ها";
}

<div class="page-body no-padding ">
    <div class="mail-container">
    <div class="mail-body">
        <p class="text-center">برای شروع یکی از ایتم های منوی کناری رو انتخاب نمایید</p>
        </div>
        <partial name="_InboxSideBar"/>
    </div>
</div>

