<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>
        <!--UI Elements-->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> مدیریت کاربران </span>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="User" asp-action="ListUsers">

                        <i class="menu-expand"></i>
                        <span class="menu-text">لیست کاربران</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="User" asp-action="CreateUser">

                        <i class="menu-expand"></i>
                        <span class="menu-text">افزودن کاربر جدید</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-shopping-cart" aria-hidden="true"></i>

                <span class="menu-text"> مدیریت فروشگاه </span>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="Product" asp-action="ProductList">

                        <i class="menu-expand"></i>
                        <span class="menu-text">لیست محصولات</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Product" asp-action="CreateProduct">

                        <i class="menu-expand"></i>
                        <span class="menu-text">افزودن محصول</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-bars" aria-hidden="true"></i>

                <span class="menu-text">مدیریت دسته بندی ها</span>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="CategoriesList">

                        <i class="menu-expand"></i>
                        <span class="menu-text">لیست دسته بندی ها</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Slider" asp-action="SliderList">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text">مدیریت اسلایدر</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="SiteSetting">
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-text">تنظیمات سایت</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="SiteBanner" asp-action="Index">
                <i class="menu-icon fa fa-file-photo-o"></i>
                <span class="menu-text">مدیریت بنرهای سایت</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="ProductDiscount" asp-action="GetDiscount">
                <i class="menu-icon fa fa-file-photo-o"></i>
                <span class="menu-text">مدیریت تخفیفات</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Inbox" asp-action="Index">
                <i class="menu-icon fa fa-inbox"></i>
                <span class="menu-text">مدیریت تیکت و کامنت</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="SendSmsToUser">
                <i class="menu-icon fa fa-file-text-o"></i>
                <span class="menu-text">سیستم ارسال پیام</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Inventory" asp-action="FilterForInventory">
                <i class="menu-icon fa fa-file-text-o"></i>
                <span class="menu-text">مدیریت انبار داری</span>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Inventory" asp-action="GetProductForIndexFilter">
                <i class="menu-icon fa fa-file-text-o"></i>
                <span class="menu-text">محصولات صفحه اصلی سایت</span>
            </a>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>