
<div class="mail-sidebar">
    <ul class="mail-menu">
        <li>
            <a asp-area="Admin" asp-controller="Inbox" asp-action="ShowComments">
                <i class="fa fa-inbox"></i>
                کامنت ها
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-star"></i>
                ایمیل ها
            </a>
        </li>
        <li class="divider">
        </li>

    </ul>
    <ul class="mail-menu">
        <li class="menu-title">
            <h6>تیکت ها</h6>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Inbox" asp-action="ShowTicketsSupport">
                <i class="fa fa-inbox"></i>
                پشتیبانی
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Inbox" asp-action="ShowTicketsTechnical">
                <i class="fa fa-inbox"></i>
                فنی
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Inbox" asp-action="ShowTicketsAcademy">
                <i class="fa fa-inbox"></i>
                اموزشی 
            </a>
        </li>


    </ul>
</div>